<section>
  <div class="container">
    <div class="row mt-4">
      <a href="/admin/add-products"><button
          style="float: right;"
          class="btn btn-success"
        >Add Products</button></a>
    </div>
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        {{#each product}}
          <tr>
            <th scope="row">1</th>
            <td>{{this.item}}</td>
            <td>{{this.cat}}</td>
            <td>{{this.discibe}}</td>
            <td><img
                style="width: 50px;height: 50px;"
                src="{{this.image}}"
                alt=""
              /></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>