<header>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">V-cart</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin"
            >Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart
              <span class="badge text-bg-danger">{{cartCount}}</span></a>
          </li>

          {{#if user}}
            <li class="nav-item">
              <a class="nav-link">Orders</a>
            </li>
          {{/if}}
        </ul>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{#if user}}
              {{user.name}}
            {{else}}
              Account
            {{/if}}
          </button>
          <ul class="dropdown-menu">
            {{#if user}}
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            {{else}}
              <li><a class="dropdown-item" href="/login">Login</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>