<section class="container mt-5">
  <div class="row">
    {{#each product}}
      <div class="col-md-4">
        <div class="card mb-3" style="width: 18rem;">
          <img
            src="/product-images/{{this._id}}.jpg"
            class="card-img-top pt-2"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{this.Name}}</h5>
            <p class="card-text">{{this.Description}}</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>