<section>
  <div class="conatainer pt-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Title</th>
          <th scope="col">Quantity</th>
          <th scope="col">Settings</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {{#each product}}
          <tr>
            <th scope="row">1</th>
            <td><img
                style="height: 70px;"
                src="/product-images/{{this._id}}.jpg"
                alt=""
              /></td>
            <td>{{this.Name}}</td>
            <td class="p-2"><button class="btn btn-secondary">-</button>1<button
                class="btn btn-primary"
              >+</button></td>
            <td><a class="btn btn-danger" href="">Remove</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>