<section>
  <div class="container pt-5" style="height:auto; width: 40rem;">
    <h2 class="text-center">Login</h2>
    <form action="/login" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="email"
        />
 

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="password"
        />
      </div>
      {{#if loginErr}}
      <p>{{loginErr}}</p>
      {{/if}}
      <div class="mb-3">
        <a href="/singup">create new account</a>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</section>

