<section class="container ml-5 mt-4">
  <div class="row">
    {{#each product}}
      <div class="col-md-4 mt-4">
        <div class="card mb-5 pb-4" style="width: 18rem; height: 24rem;">
          <img
            src="/product-images/{{this._id}}.jpg"
            class="card-img-top pt-2"
            alt="..."
            class="m-2"
            style="height: 18rem; width: auto;"
          />
          <div class="card-body">
            <h5 class="card-title">{{this.Name}}</h5>
            <p class="card-text">{{this.Description}}</p>
            <button
              class="btn btn-primary mt-4"
              onclick="addToCart('{{this._id}}')"
            >Add to cart</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>